.create-vault-modal-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 651px;
  height: 300px;
  background: #090a10;
  border: 1px solid rgba(116, 236, 101, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #ffffff;
  overflow: hidden;
}

.snackbar-createvault-container {
  width: 40%;
  position: absolute;
  top: 90%;
  left: 50%;
}

.create-vault-modal-header {
  width: 90%;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.87rem;
  padding-top: 1.4375rem;
}

#line {
  margin-top: 1.43rem;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.col-titles {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1.5rem;
}

.col-one {
  padding-left: 2rem;
}

.col-two {
  display: flex;
  padding-right: 10.5rem;
  gap: 4.375rem;
}

.vault-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.vault {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 603px;
  height: 64px;

  background: rgba(255, 255, 255, 0.02);
  border-radius: 8px;

  /* Inside Auto Layout */

  order: 3;
  align-self: stretch;
  flex-grow: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.vault-elem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.vault-elem-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.create-vault {
  color: #74ec65;
  cursor: pointer;
}

.create-vault-2 {
  color: #74ec65;
  cursor: pointer;
}

#mobile-s-1 {
  display: none;
}

#mobile-s-2 {
  display: none;
}

@media screen and (max-width: 688px) {
  span {
    display: inline;
  }
  .create-vault-modal-container {
    width: 300px;
    height: 485px;
    font: 0.5rem;
  }

  .create-vault-modal-header {
    padding: 0;
    padding-top: 0.5rem;
    justify-content: center;
    gap: 7rem;
  }

  .col-titles {
    display: none;
  }

  .vault-container {
    position: relative;
    padding-top: 2rem;
  }

  .vault {
    width: 220px;
    height: 184px;
  }

  #line {
    position: absolute;
    top: 10%;
  }

  .vault-elem {
    position: absolute;
    top: 13%;
  }

  .vault-elem-2 {
    position: absolute;
    top: 60%;
  }

  #mobile-s-1 {
    display: block;
  }

  #mobile-s-2 {
    display: block;
  }

  #gdai-avai-1 {
    position: absolute;
    top: 13%;
    left: 55%;
  }

  #gdai-avai-2 {
    position: absolute;
    top: 60%;
    left: 55%;
  }

  .create-vault {
    position: absolute;
    top: 40%;
    left: 55%;
  }

  .create-vault-2 {
    position: absolute;
    top: 89%;
    left: 55%;
  }

  #min-col-ratio-1 {
    position: absolute;
    top: 35%;
    left: 8%;
  }

  #min-col-ratio-2 {
    position: absolute;
    top: 85%;
    left: 8%;
  }
}
