.main {
  width: 1440px;
  height: 934px;
  z-index: -1000;
  background: #090a10;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  overflow: auto;
}

.main::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.main::-webkit-scrollbar-track {
  background: #090a10;
}
.main::-webkit-scrollbar-thumb {
  background: #253e2a;
}

@media screen and (max-width: 2000px) {
  .main {
    zoom: 0.8;
  }
}

@media screen and (max-width: 1888px) {
  .main {
    zoom: 0.8;
  }
}

@media screen and (max-width: 1504px) {
  .main {
    zoom: 0.55;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    zoom: 0.6;
  }
}

@media screen and (max-height: 780px) {
  .main {
    zoom: 0.7;
  }
}

@media screen and (max-width: 688px) {
  .main {
    zoom: 1;
  }

  .main {
    left: 50%;
    overflow-y: hidden;
    width: none;
    height: none;
    position: none;
  }
}

@media screen and (max-width: 500px) {
  .main {
    left: 77.8%;
    top: 50%;
    height: 100%;
  }
}

@media screen and (max-width: 412px) {
  .main {
    left: 78.5%;
    height: 100%;
  }
}

@media screen and (max-width: 393px) {
  .main {
    left: 82.3%;
    top: 50%;
    height: 100%;
  }
}

@media screen and (max-width: 384px) {
  .main {
    left: 84%;
    top: 50%;
    height: 100%;
  }
}

@media screen and (max-width: 375px) {
  .main {
    left: 86%;
    top: 50%;
    height: 100%;
  }
}

@media screen and (max-width: 360px) {
  .main {
    left: 89.5%;
    top: 50%;
    height: 100%;
  }
}
