.navbar-container {
  position: absolute;
  height: 99%;
  width: 21.8rem;
  background: linear-gradient(170.43deg, #151721 0%, rgba(21, 23, 33, 0) 99.52%),
    #090a10;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));

  padding: 12px 32px 0px 16px;
}

.navbar-container > h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  /* identical to box height, or 183% */

  color: rgba(255, 255, 255, 0.3);

  /* Inside Auto Layout */
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.2rem;
  margin-bottom: 1.4rem;
}

.navbar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.row-nav {
  display: flex;
  gap: 0.68rem;
}

.row-elem {
  width: 170.03px;
  height: 35px;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-align: right;
}

.row-elem > h3 {
  padding-left: 0.5rem;
  font-style: normal;

  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  color: #ffffff;
}

.row-elem > h4 {
  font-style: normal;

  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  display: flex;
  align-items: center;

  color: #5b5d64;
  padding-left: 0.5rem;
}

span > img {
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-self: center;
  width: 16.72px;
  height: 16.41px;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.25rem;
}

.feature-elem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 354px;
  height: 56px;
  background: rgba(117, 236, 101, 0);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  display: flex;
  align-items: center;

  color: #57585d;
}

.feature-elem-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 354px;
  height: 56px;
  background: rgba(117, 236, 101, 0);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  display: flex;
  align-items: center;

  color: #57585d;
}

.feature-elem:hover {
  color: #001f3f;
  background-color: rgba(179, 218, 191, 0.564);
}

.feature-elem > img {
}

a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 354px;
  height: 56px;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  display: flex;
  align-items: center;
}

.feature-elem-active {
  background: #233c27;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 500px;
  line-height: 22px;
  /* identical to box height, or 122% */

  display: flex;
  align-items: center;

  color: #74ec65;
}

.feature-elem-active h4 {
  color: #74ec65;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.feature-elem > img {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  width: 1.2rem;
  height: 1.2rem;
}

.feature-elem > a {
  display: flex;
  gap: 0.5rem;
}

a > img {
  padding-left: 0.6rem;
}

#features-h1 {
  margin-top: 1.625rem;
}

#community-h1 {
  margin-top: 2.6875rem;
}

div.dark-mode {
  position: absolute;
  top: 96%;
  left: 7%;
}

div.ios-switch {
  position: absolute;
  left: 75%;
}

@media screen and (max-width: 688px) {
  .navbar-container {
    display: none;
  }
}
